body {
    background-color: #FFC7E0;
    font-family: 'Space Mono', monospace;
}

footer {
    background-color: #FCDDF7;
    color: #D8A385;
}

.container {
    width: 960px;
    height: 900px;
    border: 0px;
    padding: 10px;
    margin: 0 auto;
}


ul {
    padding-left: 0;
    margin-left: 0;

    color: #ffffff;
    float: center;
    width: 100%;
    font-family: 'Baloo Bhaina', cursive;
}
li {
    display: inline;

}
ul li a {
    padding: 0.2em 1em;
    background-color: #E6D6FF;
    color: #ffffff;
    text-decoration: none;
    border-right: 3px solid #ffffff;
}
ul li a:hover {
    background-color: #FFE1BC;
    color: #ffffff;
}

}
img {
    width: 100px: height: 100px;
}
